<p>game works!</p>


<div class="users-container">
  <div class="user-card" *ngFor="let user of users">
    <div class="user-info">
      <h3>{{ user.name }} {{ user.surname }}</h3>
      <img [src]="user.profile_picture" alt="User profile picture" class="profile-picture">
      <p class="bio">{{ user.bio }}</p>
      <div class="user-details">
        <p><strong>Age:</strong> {{ user.age }}</p>
        <p><strong>Location:</strong> {{ user.city }}, {{ user.nationality }}</p>
        <p><strong>Occupation:</strong> {{ user.occupation }}</p>
        <p><strong>Gender:</strong> {{ user.gender }}</p>
      </div>
      <div class="traits">
        <h4>Traits:</h4>
        <ul>
          <li *ngFor="let trait of user.traits">{{ trait }}</li>
        </ul>
      </div>
    </div>
  </div>
</div>

@if (controllable) {
    <qr-code [value]="getControllerLink()"></qr-code>
    <button (click)="requestGameControl()">Request Game Control</button>
}