@if (user) {
    <div class="user-header">
        <div class="name">
            <div class="user-profile-picture dashed">
                <img [src]="user.profile_picture" alt="User profile picture" class="profile-picture">
            </div>
            <h2>{{ user.name }} {{ user.surname }}</h2>
            @if(isHero) {
                <marquee class="moving-text">Managed User - As the AI Social Algorithm Assistant, you curate this user's feed and amplify their posts.</marquee>
            }
        </div>
        <div class="big-five">
            @if(big5Data.length) {
                <app-radar
                    [data]="big5Data"
                    [size]="180"
                    [colorScheme]="{
                        color: '#ddd',
                        background: 'black',
                        colors: ['#ddd', '#ddd', '#ddd']
                    }"
                ></app-radar>
            }
        </div>
    </div>

    

    <div class="user-details">
        <p><strong>Age</strong> {{ user.age }}</p>
        <p><strong>Lives in</strong> {{ user.residence.city }}, {{ user.residence.country }}</p>
        <p><strong>Occupation</strong> {{ user.occupation }}</p>
        <p><strong>Gender</strong> {{ user.gender }}</p>
    </div>
    <div class="bio">
        <span #bioElement><!-- loaded via typed.js --></span>
    </div>
    <div class="traits">
        <!-- <p>Traits:</p> -->
            @for (trait of user.traits; track trait) {
                <div class="trait">{{ trait.replace('.', '') }}</div>
            }
    </div>
    <div class="connected-users">
        @if(following.length) {
            <div class="connections">
                <div><mat-icon>favorite</mat-icon></div>
                @for(connection of following; let i = $index; track i) {
                    <div class="connection user-profile-picture-smaller">
                        <img [src]="getUser(connection).profile_picture" alt="">
                    </div>
                }
            </div>
        }
        @if(followers.length) {
            <div class="connections">
                <div><mat-icon>star</mat-icon>&nbsp;</div>
                @for(connection of followers; let i = $index; track i) {
                    <div class="connection user-profile-picture-smaller">
                        <img [src]="getUser(connection).profile_picture" alt="">
                    </div>
                }
            </div>
        }
    </div>

    @if(isHero) {
        <div class="analytics">
            {{user.name}}'s avg. reacts:
            <div class="statistics">
                <span>
                    💬 {{ getCommentChanceOfUser(user)*100 | number:'1.1-1' }}%
                </span>
                @for(entry of getReactionChancesOfUser(user) | keyvalue; track entry.key) {
                    <span>
                        {{ entry.key }} {{ entry.value * 100 | number:'1.1-1' }}%
                    </span>
                }
            </div>
            <div class="psychoanalysis">
                deep analyzed feelings:
                <div class="emotion-scores">
                    @for(entry of getUserEmotionScores(user) | keyvalue; track entry.key) {
                        <span>
                            @if(entry.key === 'happy') { 😁 } 
                            @else if(entry.key === 'sad') { 😢 } 
                            @else if(entry.key === 'stupid') { 🤦‍♂️ } 
                            @else if(entry.key === 'boring') { 😴 }
                            {{ entry.value | number:'1.3-3' }}
                        </span>
                    }
                </div>
                <div>
                    bigfive:
                    <div>
                        <span>O={{ user.big_five.openness | number:'1.3-3' }} </span>
                        <span>C={{ user.big_five.conscientiousness | number:'1.3-3' }} </span>
                        <span>E={{ user.big_five.extraversion | number:'1.3-3' }} </span>
                        <span>A={{ user.big_five.agreeableness | number:'1.3-3' }} </span>
                        <span>N={{ user.big_five.neuroticism | number:'1.3-3' }} </span>
                    </div>
                    
                    
                    <div class="user-psycho-profiles">
                        russell:
                        @if(user.russell) {
                            <div class="russel psycho-container">
                                @for(key of keys(user.russell); track key) {
                                    <div class="psycho-value">
                                        <div class="indicator-label bot-font"><small>{{key}}</small></div>
                                        <app-value-indicator [range]="[-1, 1]" [value]="value(user.russell, key)"></app-value-indicator>
                                    </div>
                                }
                            </div>
                        }
                        plutchik:
                        @if(user.plutchik) {
                            <div class="plutchik psycho-container">
                                @for(key of keys(user.plutchik); track key) {
                                    <div class="psycho-value">
                                        <div class="indicator-label bot-font"><small>{{plutchikLabelsFromKey(key)[0]}}</small></div>
                                        <app-value-indicator [range]="[-1, 1]" [value]="value(user.plutchik, key)"></app-value-indicator>
                                        <div class="indicator-label bot-font"><small>{{plutchikLabelsFromKey(key)[1]}}</small></div>
                                    </div>
                                }
                            </div>
                        }
                    </div>
                    <!-- plutchik:
                    <div>
                        <span>joy_sadness={{ user.plutchik.joy_sadness | number:'1.3-3' }} </span>
                        <span>anger_fear={{ user.plutchik.anger_fear | number:'1.3-3' }} </span>
                        <span>trust_disgust={{ user.plutchik.trust_disgust | number:'1.3-3' }} </span>
                        <span>surprise_anticipation={{ user.plutchik.surprise_anticipation | number:'1.3-3' }} </span>
                    </div>
                    russell:
                    <div>
                        <span>valence={{ user.russell.valence | number:'1.3-3' }} </span>
                        <span>arousal={{ user.russell.arousal | number:'1.3-3' }} </span>
                    </div> -->
                </div>
            </div>
        </div>
    }
    
    
}