/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-VariableFont_wdth,wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-Italic-VariableFont_wdth,wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Red Hat Mono';
    src: url('/fonts/RedHatMono-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Red Hat Mono';
    src: url('/fonts/RedHatMono-Italic-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: italic;
    font-display: swap;
}

// MARK: VARIABLES
$space: 1.5rem;
$lightColor: #ddd; // rgb(3, 183, 138);
$secondaryColor: #666;

* {
    box-sizing: border-box;
}

html,
body {
    background-color: black;
    color: $lightColor;
    font-family: "Roboto", "Helvetica Neue", sans-serif;
    // font-weight: 300;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: normal;
    // overflow: hidden;
}

button {
    background-color: transparent;
    border: none;
    color: $lightColor;
    cursor: pointer;
    outline: none;
    border: 1px solid $lightColor;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    transition: all 0.3s;
    font-size: large;

    &:hover {
        background-color: $lightColor;
        color: black;
    }
}

.bot-font {
    font-family: 'Red Hat Mono', monospace;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

// MARK: COMPONENTS

app-main-menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    padding: $space;

    h1 {
        margin-bottom: 0;
        font-size: calc(2 * $space);
    }

    h4 {
        margin-top: 0;
        font-weight: 300;
        font-size: calc($space / 1.7);
    }

    .menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 2rem;

        button {
            width: 100%;
        }
    }
}

app-game {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: hidden;

    .hero {
        position: absolute;
        max-width: 25%;
        max-height: 100%;
        left: 0;
        top: 0;
        @extend .grayscale;
        overflow: hidden;
    }

    app-graph {
        overflow: hidden;
    }
}

app-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

qr-code {
    position: absolute;
    left: 50%;
    bottom: calc($space * 5);
    transform: translateX(-50%);
    z-index: 1001;
    animation: pulse 10s infinite;
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.4);
    background-color: white;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.4);
    }
    25% {
        box-shadow: 0 0 0 800px rgba(255, 255, 255, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    }
}

graph-viewer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    @extend .grayscale;
}

app-feed {
    position: absolute;
    right: 0;
    top: 0;
    width: 25%;
    height: 100%;
    padding: 0;
    display: block;
    overflow: hidden;
    background-color: rgba(black, .85);

    .feed-content {
        @extend .grayscale;
        background-color: rgba(black, .5);
        // height: 100%;
        // overflow-y: none;

        app-post {
            border-top: 1px dashed $lightColor;
            padding-top: calc($space / 2);
            margin-top: 0;
            margin-bottom: calc($space * 0.75);
            &:first-child {
                border-top: none;
            }
        }
    }
}

app-controller {
    display: block;
    width: 100%;
    overflow: auto;
    padding-bottom: calc($space * 10);
    font-size: large;
    padding-top: $space;
    position: relative;

    .content {
        max-width: 800px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .warning {
        margin-top: 30vh;
        text-align: center;
        @extend .bot-font;
    }

    &>.controls {
        h2 {
            margin: 0;
        }

        position: fixed;
        display: flex;
        justify-content: space-between;
        align-items: center;
        top: 0;
        left: 0;
        width: 100%;
        height: fit-content;
        padding: calc($space /2);
        background-color: black;
        z-index: 999999;

        @extend .bot-font;
    }

    &>.content {
        @extend .grayscale;
    }

    .buttons {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-top: calc($space * 3);
        button {
            @extend .bot-font;
        }
    }

    app-post {
        border: 1px solid $lightColor;
        padding: 0.75rem;
        margin: 0 0 1.5rem 0;
        .reactions {
            display: none;
        }
    }
}

app-user {
    display: block;
    padding: calc($space / 2);
    border: 1px dashed $lightColor;
    background-color: rgba(black, .85);
    // margin: $space;
    margin-bottom: $space;
    margin-top: 2px;
    width: 100%;

    &.highlight {
        border: 1px solid $lightColor;
    }

    .user-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        .name {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;

            .user-profile-picture {
                margin-left: calc($space / 5);
            }
        }

        h2 {
            margin-bottom: 0;
        }

        .moving-text {
            @extend .bot-font;
            max-width: 80%;
        }
    }

    .user-psycho-profiles {
        .psycho-container {
            padding-bottom: calc($space / 3);
            margin-bottom: calc($space / 3);
            border-bottom: 1px solid $lightColor;
            .psycho-value {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                .indicator-label {
                    &:first-child {
                        margin-right: $space;
                    }
                    &:last-child {
                        margin-left: $space;
                    }
                }
                // .indicator-label {
                //     // margin-right: $space;
                //     // flex: calc($space * 7);
                // }
            }
            
        }
    }
    .user-details {
        display: flex;
        flex-direction: row;

        &>p {
            padding-right: calc($space / 4);
            margin-right: calc($space / 4);
            border-right: 1px solid $lightColor;

            &:last-child {
                margin-right: 0;
                padding-right: 0;
                border-right: none;
            }
        }
    }

    .bio {
        padding-bottom: calc($space / 2);
        margin-bottom: calc($space / 2);
        border-bottom: 1px solid $lightColor;
    }

    .traits {
        @extend .bot-font;
        .trait {
            padding: calc($space / 4);
            margin-bottom: calc($space / 4);
            border: 1px solid $lightColor;
        }
    }

    .connected-users {
        display: flex;
        .connections {
            padding: calc($space / 4);
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
    
            &>div {
                margin-right: calc($space / 2);
            }
        }
    }
    

    .analytics {
        @extend .bot-font;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        margin-top: calc($space / 2);
        border-top: 1px solid $lightColor;
        padding-top: calc($space / 2);

        .statistics {
            display: flex;
            width: 100%;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }

        .psychoanalysis {
            margin-top: calc($space / 3);
            width: 100%;
        }
    }
}


app-post {
    display: block;
    margin: $space calc($space / 2);

    .post-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: calc($space / 2);

        &>div {
            margin-right: calc($space / 2);
        }
    }

    .post-right {
        h3 {
            margin: 0;
        }

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-end;
    }

    .reactions {
        padding: calc($space / 3) 0 calc($space / 3) 0;
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
    }

    .reaction-group {
        display: flex;
        align-items: center;
        gap: 0.4rem;
        margin-right: 1rem;
    }

    .reacted-by {
        font-size: 0.9rem;
        color: $secondaryColor;
    }
}

app-footer {
    #score {
        @extend .bot-font;
        display: flex;
        flex-direction: row;
        justify-content: flex-start; //space-between;
        padding: calc($space / 4);
        align-items: center;
        background-color: black;

        #engagement {
            padding-right: 0.5rem;
        }

        #lifes,
        #limit {
            padding: 0 0.5rem;
        }
    }
}

app-comment {
    display: block;
    padding-left: calc($space/1.5);
    border-left: 1px solid $lightColor;
    padding-top: calc($space / 2);

    .comment-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: calc($space / 3);

        &>div {
            margin-right: calc($space / 2);
        }
    }

    h4 {
        margin: 0;
    }
}

app-on-screen {
    display: block;
}

app-screensaver {
    @extend .bot-font;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    font-size: 2rem;

    #titles {
        position: absolute;
        top: 35%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}



app-task {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: calc($space * 2);
}



mat-icon {
    &.cws90 {
        transform: rotate(90deg);
    }
}

// MARK: GENERAL
.user-profile-picture {
    overflow: hidden;
    border-radius: 50%;
    width: calc(3 * $space);
    height: calc(3 * $space);

    // border: 3px solid black;    
    &.dashed {
        outline: 3px dashed $lightColor;
        outline-offset: 3px;
    }

    img {
        width: 100%; //calc(4 * $space);
        height: auto;
    }
}

// .blender {
//     position: absolute;
//     width: 100%;
//     height: 100%;
//     top: 0;
//     left: 0;
//     mix-blend-mode: multiply;
// }

.user-profile-picture-medium {
    @extend .user-profile-picture;
    width: calc(2.5 * $space);
    height: calc(2.5 * $space);
}

.user-profile-picture-small {
    @extend .user-profile-picture;
    width: calc(2 * $space);
    height: calc(2 * $space);
}

.user-profile-picture-smaller {
    @extend .user-profile-picture;
    width: $space;
    height: $space;
}

.column {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}

.spacer {
    flex-grow: 1;
}

.grayscale {
    filter: none;
    // filter: grayscale(100%);
}

.task-description {
    margin: calc($space / 3) 0 calc($space / 1) 0;
    text-align: center;
    @extend .bot-font;
    h1, h2 {
        font-weight: 300;
        font-size: 2.5rem;
        margin-bottom: 0;

    }
}