#score {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  #engagement {
    padding-right: 0.5rem;
  }  
  #lifes, #limit {
    padding: 0 0.5rem;
  }
}
